<%= javascript_include_tag "username_email_check_AJAX" %>

<div class="container sign-up-form-container">

	<input type="hidden" id="check_username_url" value="<%= users_check_username_url %>" />		

	<div class="row">
		
		<div class="col-md-8 col-md-offset-2">
			
			<h2>Sign up form</h2>

			<%= form_for(@user) do |f| %>

				<%= render 'shared/error_messages', object: f.object %>

				<div class="form-group col-md-12">
					<%= f.label :name %>
  					<%= f.text_field :name,  class: 'form-control'%>
				</div>

				<div class="form-group col-md-12">
					<%= f.label :surname %>
  					<%= f.text_field :surname,  class: 'form-control'%>
				</div>

				<div class="form-group col-md-12">
					<%= f.label :email %>
  					<%= f.text_field :email,  class: 'form-control'%>
				</div>

				<div class="form-group col-md-12">
					<%= f.label :username %>
  					<%= f.text_field :username,  class: 'form-control'%>
				</div>
	

				<div class="form-group col-md-4">
					
					<%= f.label :role %>
					<%= select_tag(:role, options_for_select(@roles), class: 'form-control') %>
										
				</div>

				<!-- Removed the fields for password and password repeat. -->				

				<div class="col-md-12">
					<%= f.submit "Submit", class: "btn btn-primary" %>
				</div>				

			<% end %>

		</div>

	</div>


</div>