
<%= javascript_include_tag "words" %>

<%= render 'shared/admin_header' %>

<div class="container">
	
	<div class="row admin-holder">
		<h2>Manage Homepage Slider Words</h2>
	</div>	

	<div class="row words-separate" style="text-align: center;">
		
		<!-- English Words -->
		<div class="col-md-6">
			
			<div class="row">
				<h2>Words - English</h2>

				<div class="words-container">
					
					<ul id="english" class="word-list-en">												
						<% @words_english.each do |word| %>
							<%= render word %>
						<% end %>			
					</ul>

				</div>			

			</div>

			<div class="row word-buttons">
				
				<button class="btn btn-success" id="add-en-word" data-toggle="modal" data-target="#modalAddWords">
					Add Word(s)
				</button>		
				
				<button class="btn btn-warning" id="check-all-en">Check All</button>
				
				<button class="btn btn-warning" id="uncheck-all-en">Uncheck All</button>
				
				<button class="btn btn-danger" id="delete-en-word" data-toggle="modal" data-target="#modalDeleteWords">
					Delete Word(s)
				</button>			

			</div>

		</div>
		<!-- English Words -->

		<!-- Macedonian Words -->
		<div class="col-md-6">
			
			<div class="row">
				
				<h2>Words - Macedonian</h2>

				<div class="words-container">
					
					<ul id="macedonian" class="word-list-mk">
					
						<% @words_macedonian.each do |word| %>
							<%= render word %>
						<% end %>

					</ul>

				</div>

			</div>

			<div class="row word-buttons">
				
				<button class="btn btn-success" id="add-mk-word" data-toggle="modal" data-target="#modalAddWords">
					Add Word(s)
				</button>		
				
				<button class="btn btn-warning" id="check-all-mk">Check All</button>
				
				<button class="btn btn-warning" id="uncheck-all-mk">Uncheck All</button>
				
				<button class="btn btn-danger" id="delete-mk-word" data-toggle="modal" data-target="#modalDeleteWords">
					Delete Word(s)
				</button>

			</div>

		</div>
		<!-- Macedonian Words -->

	</div>


</div>


<!-- MODAL ADD -->
<div class="modal fade" id="modalAddWords" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Add new words</h4>
			</div>
			<div class="modal-body">
				
				<h5>Enter the new words separated by newline (ENTER)</h5>

				<textarea class="form-control" id="new-words"></textarea>

				<input type="hidden" id="words_lang" />
				<input type="hidden" id="add_words_url" value="<%= words_add_words_url %>" />

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" id="add-cancel-button" data-dismiss="modal">Cancel</button>
				<button type="button" class="btn btn-success" data-dismiss="modal" id="add-words-confirm">Save</button>			
			</div>
		</div>
	</div>
</div>

<!-- MODAL DELETE -->
<div class="modal fade" id="modalDeleteWords" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Delete Confirmation</h4>
			</div>
			<div class="modal-body">				
			</div>
			<div class="modal-footer">
				<input type="hidden" id="delete_lang" />
				<input type="hidden" id="delete_words_url" value="<%= words_delete_words_url %>" />
				<button type="button" class="btn btn-default" data-dismiss="modal" id="delete-cancel-btn">Close</button>
				<button type="button" class="btn btn-danger" id="delete-words-confirm">Delete</button>
			</div>
		</div>
	</div>
</div>
